<!DOCTYPE html>
<html lang="en">
    <head>
        @Html.Partial("_Head")
    </head>
    <body>
        
        @{ Html.RenderPartial("_PageHeader"); }
        
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix" id="contentBody">
                @RenderBody()
            </section>
        </div>
        @Html.Partial("_Footer")
    </body>
    @RenderSection("scripts", required: false)
</html>